## Lab 3 Termodin√°mica y Teor√≠a Cin√©tica üßë‚Äçüî¨ - Calor espec√≠fico

- Camila Ferrus
- Marcelo Ojeda

In [3]:
import numpy as np
import pandas as pd

### Calcular el Coeficiente para el calor√≠metro

In [29]:
path_calorimetro = 'datos_ck_calorimetro.csv'
calorimetro = pd.read_csv(filepath_or_buffer=path_calorimetro, sep=';',index_col=0)
calorimetro

                          Sigla Unidad   EXP1   EXP2   EXP3
DATOS CALORIMETRO
Masa agua fr√≠a               m1      g  94.21  98.51  90.43
Masa agua caliente           m2      g  89.97  92.04  89.65
Temperatura agua fr√≠a        T1     ¬∞C  17.00  19.00  22.00
Temperatura agua caliente    T2     ¬∞C  53.00  66.00  71.00
Temperatura de la mezcla     T3     ¬∞C  33.00  40.00  44.00

### Calcular el Coeficiente para el Cobre

In [31]:
path_cobre = 'datos_ck_cobre.csv'
cobre = pd.read_csv(filepath_or_buffer=path_cobre, sep=';',index_col=0)
cobre

                          Sigla Unidad   EXP1   EXP2   EXP3
DATOS COBRE
Masa agua fr√≠a               m1      g  95.51  92.86  92.63
Masa del cobre              mCu      g  95.16  95.16  95.16
Masa agua caliente           m2      g  92.39  98.26  90.41
Temperatura agua fr√≠a        T1     ¬∞C  20.00  23.00  24.00
Temperatura agua caliente    T2     ¬∞C  67.00  63.00  56.00
Temperatura de la mezcla     T3     ¬∞C  41.00  42.00  38.00

### Calcular el Coeficiente para el Aluminio

In [32]:
path_aluminio = 'datos_ck_aluminio.csv'
aluminio = pd.read_csv(filepath_or_buffer=path_aluminio, sep=';',index_col=0)
aluminio

                          Sigla Unidad   EXP1   EXP2   EXP3
DATOS ALUMINIO
Masa agua fr√≠a               m1      g  93.92  96.12  96.93
Masa del aluminio           mAl      g  18.35  18.35  18.35
Masa agua caliente           m2      g  89.36  93.28  88.54
Temperatura agua fr√≠a        T1     ¬∞C  21.00  23.00  22.00
Temperatura agua caliente    T2     ¬∞C  76.00  71.00  66.00
Temperatura de la mezcla     T3     ¬∞C  45.00  45.00  41.00