## Lab 3 Termodin√°mica y Teor√≠a Cin√©tica üßë‚Äçüî¨ - Calor espec√≠fico

- Camila Ferrus
- Marcelo Ojeda

In [1]:
import numpy as np
import pandas as pd

### Calcular el Coeficiente para el calor√≠metro

In [2]:
path_calorimetro = 'datos_ck_calorimetro.csv'
calorimetro = pd.read_csv(filepath_or_buffer=path_calorimetro, sep=';',index_col=0)
calorimetro

                          Sigla Unidad   EXP1   EXP2   EXP3
DATOS CALORIMETRO
Masa agua fr√≠a               m1      g  94.21  98.51  90.43
Masa agua caliente           m2      g  89.97  92.04  89.65
Temperatura agua fr√≠a        T1     ¬∞C  17.00  19.00  22.00
Temperatura agua caliente    T2     ¬∞C  53.00  66.00  71.00
Temperatura de la mezcla     T3     ¬∞C  33.00  40.00  44.00

In [23]:
def c_calorimetro(tabla):
    m1 = tabla.iloc[0]['EXP1':]
    m2 = tabla.iloc[1]['EXP1':]
    t1 = tabla.iloc[2]['EXP1':]
    t2 = tabla.iloc[3]['EXP1':]
    t3 = tabla.iloc[4]['EXP1':]
    
    numerador = (m2 * (t3 - t2)) + (m1 * (t3 - t1))
    denominador = t1 - t3  
    return numerador / denominador

In [31]:
c_calorimetro(calorimetro)

EXP1      18.2525
EXP2    15.444286
EXP3       19.595
dtype: object

In [30]:
calorimetro_mean = round(np.mean(c_calorimetro(calorimetro)), 2)
calorimetro_std = round(np.std(c_calorimetro(calorimetro)), 2)

print('Calor espec√≠fico del calor√≠metro: {} ¬± {} cal/¬∞C'.format(
    calorimetro_mean, calorimetro_std
))

17.76
Calor espec√≠fico del calor√≠metro: 17.76 ¬± 1.73 cal/¬∞C

La unidad es cal/¬∞C porque en el calor√≠metro la capacidad cal√≥rica no depende de la masa.

### Calcular el Coeficiente para el Cobre

In [34]:
path_cobre = 'datos_ck_cobre.csv'
cobre = pd.read_csv(filepath_or_buffer=path_cobre, sep=';',index_col=0)
cobre

                          Sigla Unidad   EXP1   EXP2   EXP3
DATOS COBRE
Masa agua fr√≠a               m1      g  95.51  92.86  92.63
Masa del cobre              mCu      g  95.16  95.16  95.16
Masa agua caliente           m2      g  92.39  98.26  90.41
Temperatura agua fr√≠a        T1     ¬∞C  20.00  23.00  24.00
Temperatura agua caliente    T2     ¬∞C  67.00  63.00  56.00
Temperatura de la mezcla     T3     ¬∞C  41.00  42.00  38.00

In [35]:
def c_cobre(tabla, c_esp_calorimetro):
    m1 = tabla.iloc[0]['EXP1':]
    m_cu = tabla.iloc[1]['EXP1':]
    m2 = tabla.iloc[2]['EXP1':]
    t1 = tabla.iloc[3]['EXP1':]
    t2 = tabla.iloc[4]['EXP1':]
    t3 = tabla.iloc[5]['EXP1':]
    
    n1 = m2 * (t3 - t2)
    n2 = c_esp_calorimetro * (t3 - t1)
    n3 = m1 * (t3 - t1)
    denominador = m_cu * (t1 - t3)  
    return (n1 + n2 + n3) / denominador

In [37]:
c_cobre(cobre, calorimetro_mean)

EXP1    0.011745
EXP2   -0.021194
EXP3     0.06149
dtype: object

### Calcular el Coeficiente para el Aluminio

In [32]:
path_aluminio = 'datos_ck_aluminio.csv'
aluminio = pd.read_csv(filepath_or_buffer=path_aluminio, sep=';',index_col=0)
aluminio

                          Sigla Unidad   EXP1   EXP2   EXP3
DATOS ALUMINIO
Masa agua fr√≠a               m1      g  93.92  96.12  96.93
Masa del aluminio           mAl      g  18.35  18.35  18.35
Masa agua caliente           m2      g  89.36  93.28  88.54
Temperatura agua fr√≠a        T1     ¬∞C  21.00  23.00  22.00
Temperatura agua caliente    T2     ¬∞C  76.00  71.00  66.00
Temperatura de la mezcla     T3     ¬∞C  45.00  45.00  41.00